button {
    padding: 10px 15px;
    border: 0;
    position: relative;
    background-color: transparent;
    color: #fff;
    &:before {
        content: '';
        position: absolute; // these ensure the pseudo-element stretches to the size of its parent
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #58a; // need this since the pseudo element is above the parent by default
        z-index: -1;
        transform: skewX(-45deg);
    }
}

.cutout-corners {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    background-color: #58a;
    background: linear-gradient(-45deg, transparent 15px, #58a 0) right, linear-gradient(45deg, transparent 15px, #655 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

@mixin bevelled-corners($bg, $tl:0, $tr:$tl, $br:$tl, $bl: $tr) {
    background-color: $bg;
    background: linear-gradient(135deg, transparent $tl, $bg 0) top left, linear-gradient(-135deg, transparent $tr, $bg 0) top right, linear-gradient(-45deg, transparent $br, $bg 0) bottom right, linear-gradient(45deg, transparent $bl, $bg 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.four-cutout-corners {
    margin-top: 30px;
    width: 150px;
    height: 100px;
    @include bevelled-corners(#58a, 15px, 5px);
}

@mixin curved-bevelled-corners($bg, $tl:0, $tr:$tl, $br:$tl, $bl: $tr) {
    background-color: $bg;
    background: radial-gradient(circle at top left, transparent $tl, $bg 0) top left, radial-gradient(circle at top right, transparent $tr, $bg 0) top right, radial-gradient(circle at bottom right, transparent $br, $bg 0) bottom right, radial-gradient(circle at bottom left, transparent $bl, $bg 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.curved-cutout-corners {
    margin-top: 30px;
    width: 150px;
    height: 100px;
    @include curved-bevelled-corners(#58a, 14px);
}