<p class="hyphens" lang="en">
    The only way to get rid of temptation is to yield to it
</p>

<dl>
    <dt>Name:</dt>
    <dd>Hung</dd>

    <dt>Email:</dt>
    <dd>hungtran891989@gmail.com</dd>
    <dd>abc@gmail.com</dd>

    <dt>Location:</dt>
    <dd>Earth</dd>
</dl>

<div class="zebra-stripes">
    var text_filter = $(this).val();
    <br> var tr = $('tr'); $("table").find("tbody").find("tr").hide();
    <br> $("table").find("td").show();
    <br> $("table").find("tbody").find("tr:contains("+text_filter+")").show();
    <br>
</div>

<pre>
    <code>
        while(true) {{ '{' }}
            var d = new Date();
            if (d.getDate() === 1 && d.getMonth() === 3) {{ '{' }}
                alert('TROLOLOL');
            {{ '}' }}
        {{ '}' }}
    </code>
</pre>

<p>
    The only way to <a href="#">get rid of temptation</a> is to <a href="#">yield</a> to it
</p>