div {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div,
main:before {
    background: url('../../assets/img/tiger.jpg') 0 / cover fixed;
}

main {
    background: hsla(0, 0%, 100%, .3);
    width: 500px;
    position: relative;
    /* hide the blurring outside main */
    overflow: hidden;
    /* only the background is blurred, not the text */
    z-index: 10;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(20px);
        /* only the background is blurred, not the text */
        z-index: -1;
        /* fix issue of the faded blurring at the edges */
        margin: -30px;
    }
}