<div class="pie"></div>

<div class="pie-w-animation"></div>

<!-- -20s = 20% since the animation duration is 100s -->
<div class="pie-w-animation-delay" style="animation-delay: -20s"></div>

<div class="pie-w-animation-delay" style="animation-delay: -60s"></div>

<svg viewBox="0 0 32 32">
    <!-- 16 = 100 / 2pi
        the circumference is 100 so that the dash gap can be 100 
        and dash length can be from 0 to 100 to depict 0 to 100%
    -->
    <circle r="16" cx="16" cy="16"></circle>
</svg>

<!-- display charts from HTML content -->
<div class="svg-pie">20%</div>
<div class="svg-pie">60%</div>