<button>Yes!</button>

<hr>

<button class="ok">OK</button>
<button class="cancel">CANCEL</button>

<hr>

<div class="input-wrapper">
    <input type="text">
    <div class="callout">Only letters, numbers, underscores & hyphens are allowed!</div>
</div>

<hr class="input-separator">

<div class="rectangle-wrapper">
    <div class="rectangle">
        <div class="rectangle__inner"></div>
    </div>

    <div class="rectangle">
        <div class="rectangle__inner rectangle__inner--square"></div>
    </div>
</div>

<br>

<span class="text-block text-block--equal-paddings">
    yolo
</span>

<span class="text-block">
    yolo
</span>