<p>Praesent egestas tristique nibh. Vivamus aliquet elit ac nisl. Nunc nulla.. In turpis.</p>

<!-- 
    desired behavior: 
        + the figure should be sized based on its content, not parent/body
        + horizontally center the figure
 -->
<figure>
    <img src="assets/img/adamcatlace.jpg" alt="Cat Image">
    <figcaption>
         Proin faucibus arcu quis ante. Nunc nec neque. Suspendisse potenti. Aenean massa. Sed in libero ut nibh placerat accumsan.
    </figcaption>
</figure>

<p>Praesent egestas tristique nibh. Vivamus aliquet elit ac nisl. Nunc nulla.. In turpis.</p>

<footer>
    <div class="wrapper">
        <!-- Footer content here -->
         Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Cras sagittis. Phasellus nec sem in justo pellentesque
        facilisis. Phasellus magna. Fusce a quam.
    </div>
</footer>

<div class="container">
    <main>
        <h1>Am I centered yet?</h1>
        <p>Center me, please!</p>
    </main>
</div>

<div class="container2">
    <main>
        <h1>Am I centered yet?</h1>
        <p>Center me, please!</p>
    </main>
</div>

<div class="container3">
    <main>
         Center me, please!
    </main>
</div>