<div class="container">
  <a [routerLink]="['coding-tips']">Coding Tips</a>
  <a [routerLink]="['borders']">Borders</a>
  <a [routerLink]="['backgrounds']">Backgrounds</a>
  <a [routerLink]="['inner-rounding']">Inner Rounding</a>
  <a [routerLink]="['striped-bg']">Striped Backgrounds</a>
  <a [routerLink]="['complex-bg']">Complex Background Patterns</a>
  <a [routerLink]="['random-bg']">Random Backgrounds</a>
  <a [routerLink]="['img-border']">Image Borders</a>
  <a [routerLink]="['flexible-ellipses']">Flexible Ellipses</a>
  <a [routerLink]="['parallelograms']">Parallelograms</a>
  <a [routerLink]="['pie-chart']">Pie Charts</a>
  <a [routerLink]="['visual-effects']">Visual Effects</a>
  <a [routerLink]="['color-tinting']">Color Tinting</a>
  <a [routerLink]="['frosted-glass']">Frosted Glass Effect</a>
  <a [routerLink]="['folded-corner']">Folded Corner Effect</a>
  <a [routerLink]="['typography']">Typography</a>
  <a [routerLink]="['text-effects']">Text Effects</a>
  <a [routerLink]="['user-experience']">User Experience</a>
  <a [routerLink]="['structure-and-layout']">Structure & Layout</a>
  <a [routerLink]="['sticky-footer']">Sticky Footer</a>
  <a [routerLink]="['animations']">Animations</a>
  <hr />

  <router-outlet></router-outlet>
</div>
