<div class="something-meaningful">
    I have a nice stone art border. Don't I look pretty? Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Aenean commodo ligula
    eget dolor. Cras id dui.
</div>

<div class="envelope-themed-border">
    I have a nice stone art border. Don't I look pretty? Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Aenean commodo ligula
    eget dolor. Cras id dui.
</div>

<div class="marching-ants">
    I have a nice stone art border. Don't I look pretty? Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo,
    at malesuada velit leo quis pede. Aenean commodo ligula eget dolor. Cras id dui.
</div>

<div class="footnote">
    <sup>1</sup> This is a footnote
</div>