<div class="stroked-text">CSS</div>

<h1>
    <svg width="2em" height="1.2em">
        <text id="css" y="1em">CSS</text>
    </svg>
</h1>

<div class="glowing-text">Glow</div>

<div class="glowing-text glowing-text--blurred">Dizzy</div>

<div class="blurred-text">Dizzy</div>

<div class="extruded-text">CSS3d</div>

<div class="retro-text">Retro</div>

<div class="circular">
    <svg viewBox="0 0 100 100">
        <path d="M 0,50 a 50,50 0 1,1 0,1 z" id="circle"/>
        <text>
            <textPath xlink:href="#circle">circular reasoning works because</textPath>
        </text>
    </svg>
</div>

<div class="circular dynamic-circular">circular reasoning works because</div>
<div class="circular dynamic-circular">circular reasoning works because</div>

